<div id="<%= dom_id stat %>">
  <p>
    <strong>Nombre:</strong>
    <%= stat.nombre %>
  </p>

  <p>
    <strong>Tabla:</strong>
    <%= stat.tabla %>
  </p>

  <p>
    <strong>Createdby:</strong>
    <%= stat.createdby %>
  </p>

</div>
